body{
    font-family: 'Arima Madurai', cursive;
 }
.landing{
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding:200px; 
    color: white;
}
p{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.landing img:last-child{
    padding: 120px;
}
h2{
    text-align: center;
    }
.container-about{
        text-align: center;
        
    }
 *.services{
        background-image: url('../images/s_image.jpg');
        background-size: cover;
        height: 350px;
        text-align: center;
        color: white;
        padding: 100px;
    } 
.what-we-do{
        text-align: center;
        height: 250px;
    }
.col-space{
        margin-top:20px;
        margin-bottom:20px;
    }
.portfolio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left:18%;
        margin-right: 16%;
      }
      .portfolio h2{
        text-align: center;
        padding-top:40px;
        font-family: 'Gabriela', serif;
      }
.project{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.2;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project2{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.6;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project3{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.4;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project4{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project5{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project6{
         width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project7{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.project8{
        width: 200px;
        height: 160px;
        background-color:white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        top: 0.0em;
        display:none;
        color:black;
        font-size: 20px;
        }
.foot{
    text-align: center;
     }
#p1 {
    margin-top: 30%;
    font-weight: bold;
    font-size: large;
    font-style: initial;
    color: solid black;
     }   
    #transparent {
        background-color: transparent;
    }
    .contact{
        background-image: url('../images/c_image.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height:500px;
        width: 100%;
        color: white;
    }
    .contact h2{
        text-align: center;
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: 10px;
        font-family: 'Gabriela', serif;
    }
    #transparent {
        background-color: transparent;
    }
    textarea {
        width: 100%;
        height: 200px;
        color: white;
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical ;
       }
     #jambo ::placeholder {
        color: white;
    }
    #jambo input{
        color: white;
        background-color: transparent;
       }
       .icon{
           padding: 20px;
       } 
       footer{
        text-align: center;
        padding-top: 30px;
      }
      footer p{
        margin-top: 10px;
      }